.row {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
    flex: 1;
}

.row-top {
    align-items: flex-start;
}

.row-spread {
    justify-content: space-between;
}

.row-even {
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .row-collapse {
        flex-direction: column;
        align-items: center;
    }
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    flex: 1;
}

.col-left {
    align-items: flex-start;
}
