<!DOCTYPE html>
<html>
    <head>
        <script>
            const themeTemp = localStorage.getItem('theme');
            if (themeTemp && themeTemp === 'dark' || themeTemp === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.setAttribute('data-theme', 'dark');
            }
        </script>
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        {% include font.html %}
        {% include katex.html %}
        {% include analytics.html %}
        {% include fontawesome.html %}
    </head>
    <body>
        <header>
            <h4><a href="/">{{ site.title }}</a></h4>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/posts">Posts</a></li>
                    <li><a href="/papers">Papers</a></li>
                    <li><a href="/cv">Curriculum Vitae</a></li>
                    <li><div class="theme-toggle" aria-label="Toggle Theme"></div></li>
                </ul>
            </nav>
        </header>
        <div class="content">
        
        {{ content }}
        
        </div>
        <footer>
            <ul>
                {% for social in site.socials %}
                <li>
                    <a href="{{ social.link }}"><i class="{{ social.icon }}"></i>{{ social.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </footer>
    </body>
    <script src="{{ '/assets/js/darkmode.js' | relative_url }}"></script>
</html>